<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <div class="mx-auto max-w-screen-xl px-4 py-8 sm:px-6 sm:py-12 lg:px-8">
          <div class="sm:flex sm:items-center sm:justify-between">
            <div class="text-center sm:text-left">
              <a href="/" class="text-2xl font-bold text-gray-900 sm:text-3xl">Welcome Back, Barry!</a>
      
              <p class="mt-1.5 text-sm text-gray-500">Let's write a new blog post! 🎉</p>
            </div>
      
            <div class="mt-4 flex flex-col gap-4 sm:mt-0 sm:flex-row sm:items-center">
        
          
              <a
                href="/posts/create"
                class="block rounded-lg bg-indigo-600 px-5 py-3 text-sm font-medium text-white transition hover:bg-indigo-700 focus:outline-none focus:ring"
                type="button"
              >
                Create Post
              </a>
            </div>
          </div>
        </div>
      </header>
 
    <%-  body %>
</body>
</html>