<div class="max-w-4xl mx-auto">
    <div>
      <h3 class="font-bold text-gray-900 text-2xl"><%= posts.title%></h3>
  
      <p class="mt-0.5 text-gray-700">
        <%= posts.content%>
      </p>
    </div>
  </div>